* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
:root {
    --main-color: #429755;
}
.container {
    height: 100%;
    max-width: 1200px;
    padding: 0 20px;
    margin: 0 auto;
}

/* -----Header----- */
.header {
    border-bottom: 1px solid var(--main-color);
    background-color: #fff;
    height: 80px;
    width: 100%;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
}
.header-menu a {
    text-decoration: none;
    display: flex;
    align-items: center;
}
.header-menu span {
    font-size: 1.1rem;
    font-weight: 200;
    margin-left: 13px;
    color: #000;
}
.header-menu {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-menu .logo-block {
    height: 100%;
    width: 250px;
    background: url('../img/waste_logo.svg') no-repeat;
    background-position: center;
}

/* Searchbar */
.searchbar-wrapper {
    position: fixed;
    top: 70px;
    z-index: 99;
    width: 100%;
    background-color: #fff;
}
.hide {
    display: none;
}
.searchbar {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 25px;
    padding: 0 20px;
}
.searchbar .searchbar-input {
    width: 100%;
    font-size: 1.1rem;
    padding-left: 30px;
    border: 1px solid silver;
    border-radius: 0;
}
.searchbar .searchbar-btn {
    padding: 13px 40px;
    border: none;
    background-color: var(--main-color);
    color: #fff;
    font-size: 1.1rem;
    margin-left: 20px;
    cursor: pointer;
}

/* -----Sidebar navigation----- */
.sidebar-nav {
    /* display: inline-block; */
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.3);
    width: 270px;
    align-self: start;
    position: sticky;
    top: 100px;
    z-index: 98;
}
.main-block {
    display: flex;
}
.mobile-banner1 {
    display: none;
    background-color: gray;
    height: 65px;
    margin-top: 35px;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
}
.mobile-banner2 {
    display: none;
    background-color: #7d7d7d;
    height: 225px;
    margin-top: 35px;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
}
/* Catalog & subcatalog arrow icons*/
.sidebar-nav .arrow::before, .subcatalog-ul .arrow::before {
    position: absolute;
    right: 15px;
    top: 50%;
    content: "";
    display: inline-block;
    width: 0.4rem;
    height: 0.4rem;
    border-right: 2px solid #000;
    border-top: 2px solid #000;
    transform: rotate(45deg) translateY(-50%);   
}
.subcatalog-ul::-webkit-scrollbar {
    width: 20px;
}
.sidebar-nav a {
    text-decoration: none;
    position: relative;
    display: block;
    padding: 10px 25px 10px 15px;
    color: #000;
    width: 270px;
}
.sidebar-nav li {
    list-style: none;
    width: 270px;
    border-bottom: 1px solid rgba(220, 220, 220, 0.8);
    background-color: #fff;
}
.sidebar-nav .catalog-ul li:last-child, .subcatalog-ul li:last-child {
    border-bottom: none;
}
.catalog {
    position: relative;
}
.catalog > ul > li:first-child > a {
    background-color: var(--main-color);
    font-size: 1.2rem;
    padding-left: 8px;
    letter-spacing: 1px;
    color: #fff;
}
.subcatalog-ul li:first-child {
    border-top: 1px solid transparent;
}
.subcatalog-ul {
    position: absolute;
    display: none;
    background-color: #fff;
    top: 42px;
    left: 268px;
    z-index: 100;
    height: 91%;
    overflow: auto;
    box-shadow: -3px 3px 5px rgba(0, 0, 0, 0.3);
}
.subcatalog-ul li {
    overflow: visible;
}
/* .catalog-ul li:hover .subcatalog-ul {
    display: block;
} */
.catalog-ul a:hover {
    background-color: var(--main-color);
    color: #fff;
}
/* Subcatalog info */
.sidebar-nav .info {
    background-color: #fff;
    position: absolute;
    display: none;
    left: 558px;
    top: 42px;
    z-index: 100;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
    height: 91%;
}
.sidebar-nav .active {
    display: block;
}
.sidebar-nav .info h5 {
    font-weight: normal;
    font-size: inherit;
}
.sidebar-nav .info span {
    font-size: 13px;
    font-style: italic;
    font-weight: 200;
}
.sidebar-nav .info span.last-date, .sidebar-nav .info span.quantity {
    display: block;
    margin-top: 8px;
}
/* Subnav */
.fixed-subnav {
    position: fixed;
    top: 80px;
    background-color: #fff;
    z-index: 90;
    width: 100%;
}
/* .subnav {
    width: 1000px;
} */
.subnav li {
    list-style: none;
}
.subnav a {
    text-decoration: none;
    font-size: 1.2rem;
    letter-spacing: 1px;
    padding: 10px 15px;
    color: #000;
}
.subnav a:hover {
    background-color: var(--main-color);
    color: #fff;
}
.subnav ul {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    padding-bottom: 12px;
    padding-left: 330px;
    
}

/* -----Info section----- */
.info-section {
    margin-top: 145px;
    display: inline-block;
    width: 100%;
}

/* banner-block */
.banner-block {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 0 20px;
}
.banner-block .banner {
    background-color: grey;
    height: 200px;
    width: 300px;
    margin: 20px;
}
/* ads */
.ads h2 {
    margin: 35px 0;
}
.ad-item {
    margin-top: 20px;
    line-height: 1.5;
}
.ad-item .activity {
    color: #235281;
}
.ad-item .location {
    font-weight: 200;
}
.ad-item .category {
    color: #008e3e;
    font-weight: normal;
}
.ad-item sup {
    font-style: italic;
}
.ads, .business-cards {
    padding: 0 20px;
    margin-left: 10px;
}
/* business-cards */
.business-cards h2 {
    margin: 40px 0;
}
.business-card-item {
    margin-top: 20px;
    line-height: 1.5;
    font-weight: 200;
}
.business-card-item a {
    font-weight: 600;
    color: #004a80;
    text-decoration: none;
}
.business-card-item sup {
    font-style: italic;
}

/* -----Footer----- */
.footer {
    padding: 50px 0;
    border-top: 1px solid var(--main-color);
    margin-top: 50px;
}
.footer .flex-footer {
    display: flex;
    padding-bottom: 50px;
    justify-content: space-between;
}
.footer input {
    width: 200px;
}
.subscribe-block1 {
    border: 1px solid var(--main-color);
    padding: 10px;
}
.subscribe-block1 p {
    font-size: 12px;
    letter-spacing: 1px;
    margin-bottom: 5px;
}
.subscribe-block1 input {
    font-size: 13px;
    border: 1px solid var(--main-color);
    padding: 3px 8px;
    margin: 5px 0;
}
.subscribe-block1 button {
    background-color: #56BB43;
    border: none;
    padding: 5px 10px;
    color: #fff;
    margin-top: 5px;
}
.subscribe-block2 {
    border: 2px solid #7CA534;
    padding: 0 10px;
    background-color: #E4F5C9;
}
.subscribe-block2 .form-item {
    margin-top: 8px;
}
.subscribe-block2 .form-item:first-child {
    margin-top: 0;
}
.subscribe-block2 .form-item:nth-child(2) {
    margin-top: 5px;
}
.subscribe-block2 .form-item:nth-child(2) a {
    font-size: 14px;
    font-weight: 900;
    color: #000;
}
.subscribe-block2 .form-item:last-child a {
    font-size: 11px;
    color: #000;
}
.subscribe-block2 input {
    border: 1px solid #7CA534;
    padding: 1px 0;
    width: 100%;
}
.subscribe-block2 button {
    background-color: #7CA534;
    border: 1px solid #4e6822;
    color: #fff;
    padding: 2px 12px;
}
.subscribe-block2 p {
    font-size: 11px;
}
.subscribe-block2 .subscribe-count {
    letter-spacing: 1px;
    text-align: right;
    margin-right: 15px;
    line-height: .8;
}
.subscribe-block2 .subscribe-count span {
    letter-spacing: normal;
    display: block;
}
.subscribe-block2 .form-item:nth-child(4), .subscribe-block2 .form-item:nth-child(5) {
    display: inline-block;
}
.subscribe-block2 .form-item:last-child {
    text-align: center;
}

/* Footer-news */
.footer-news {
    display: flex;
    align-items: center;
}
.footer-news .news-links a {
    text-align: center;
    display: block;
    color: #000;
    text-decoration: none;
}
.footer-news .news-links a:first-child {
    margin-bottom: 10px;
}
.footer-news .news-links a:last-child {
    margin-top: 10px;
}
.footer-news .news-icon {
    padding-left: 15px;
}
.footer-news a:hover {
    text-decoration: underline;
}

/* Footer info */
.footer-info .footer-nav a {
    text-decoration: none;
    color: #000;
}
.footer-info .footer-nav li {
    text-align: center;
    margin-bottom: 20px;
    list-style: none;
}
.footer-info .social-links li {
    list-style: none;
    margin: 5px;
}
.footer-info .social-links ul {
    display: flex;
}
.footer .warning {
    text-align: center;
}
.footer .warning span {
    color: #56BB43;
    font-weight: 900;
}
.footer-info a:hover {
    text-decoration: underline;
}

/* Tablet */
@media (max-width: 1023px) and (min-width: 768px) {
    .header {
        height: 90px;
    }
    .header-menu span {
        display: none;
    }
    .searchbar-wrapper {
        top: 89px;
    }
    .searchbar-wrapper .searchbar {
        margin: 0;
        padding-top: 30px;
        padding-bottom: 20px;
    }
    .main-block {
        display: block;
        padding: 190px 0 0 0;
    }
    .fixed-subnav {
        position: absolute;
        padding: 20px 0;
        top: 90px;
    }
    .fixed-subnav .subnav ul {
        padding: 20px 30px;
        justify-content: center;
    }
    .subnav ul li {
        margin: 0 10px;
    }
    .subnav a {
        border: 1px solid rgba(220, 220, 220, 0.8);
    }
    .sidebar-nav {
        position: static;
        box-shadow: none;
        width: 100%;
    }
    .sidebar-nav a {
        width: 100%;
        padding: 15px 40px 15px 20px;
    }
    .sidebar-nav .arrow::before {
        right: 30px;

    }
    .sidebar-nav li {
        width: 100%;
    }
    .sidebar-nav .catalog-ul li:last-child {
        border-bottom: 1px solid rgba(220, 220, 220, 0.8);
    }
    .info-section {
        margin-top: 10px;
        float: none;
    }
    .ads, .business-cards {
        margin-left: 0;
    }
    .banner-block {
        justify-content: space-around;
    }
    .banner-block .banner {
        width: 300px;
    }
    .footer .flex-footer {
        flex-wrap: wrap;
    }
    .footer-info {
        margin-top: 30px;
    }
    .footer-info .footer-nav ul li {
        display: inline-block;
        margin-right: 20px;
    }
    /* Menu popup */
    .mobile-menu-catalog, .mobile-menu-subcatalog {
        display: none;
        position: fixed;
        top: 0;
        height: 100%;
        width: 100%;
        background-color: #fff;
        z-index: 150;
    }
    .mobile-menu-subcatalog .subtitle {
        padding: 10px;
    }
    .mobile-menu-subcatalog .subtitle a {
        display: inline-block;
        background-color: #55c56e;
        color: #fff;
        padding: 8px; 
        font-size: 1.1rem;
        margin-left: 30px;
    }
    .mobile-menu-catalog .title a, .mobile-menu-subcatalog .title a {
        background-color: var(--main-color);
        color: #fff;
        padding: 8px;
        display: inline-block;
        font-size: 1.1rem;
        margin-left: 15px;
    }
    .mobile-menu-catalog .title, .mobile-menu-subcatalog .title {
        padding: 10px;
    }
    .mobile-menu-catalog .title .close-btn, .mobile-menu-subcatalog .title .close-btn {
        font-size: 2rem;
        position: absolute;
        right: 20px;
        top: 8px;
        font-weight: 200;
        color: var(--main-color);
    }
    .mobile-menu-container {
        height: 100%;
        width: 100%;
    }
    .mobile-menu-catalog a, .mobile-menu-subcatalog a {
        display: block;
        text-decoration: none;
        color: #000;
    }
    .mobile-menu-catalog li, .mobile-menu-subcatalog li {
        list-style: none;
    }
    .mobile-menu-catalog ul li, .mobile-menu-subcatalog ul li {
        border-bottom: 1px solid rgba(220, 220, 220, 0.8);
        background-color: #fff;
    }
    .mobile-menu-catalog ul li a {
        padding: 15px 40px 15px 40px;
        position: relative;
    }
    .mobile-menu-subcatalog ul li a {
        position: relative;
        padding: 15px 40px 15px 60px;
    }
    .mobile-menu-catalog .arrow::before, .mobile-menu-subcatalog .arrow::before {
        right: 30px;
    }
    .mobile-menu-catalog .title .arrow-back, .mobile-menu-subcatalog .title .arrow-back, .mobile-menu-catalog .subtitle .arrow-back, .mobile-menu-subcatalog .subtitle .arrow-back {
        position: relative;
        left: 5px;
    }
    .mobile-menu-catalog .title .arrow-back:before, .mobile-menu-subcatalog .title .arrow-back:before, .mobile-menu-catalog .subtitle .arrow-back:before, .mobile-menu-subcatalog .subtitle .arrow-back:before {
        position: absolute;
        top: 10%;
        content: "";
        display: inline-block;
        width: 0.4rem;
        height: 0.4rem;
        border-right: 2px solid #000;
        border-top: 2px solid #000;
        transform: rotate(-135deg) translateY(-50%); 
    }
    .mobile-menu-catalog .subtitle .arrow-back, .mobile-menu-subcatalog .subtitle .arrow-back {
        left: 20px;
    }
    .mobile-menu-info {
        position: fixed;
        z-index: 200;
        top: 120px;
        background-color: #fff;
        width: 100%;
        height: 100%;
    }
    .mobile-menu-info h5 {
        display: inline-block;
    }
    .mobile-menu-info a {
        text-decoration: none;
        color: #000;
    }
    .mobile-menu-info .quantity {
        display: block;
    }
    .mobile-menu-info li {
        border-bottom: 1px solid rgba(220, 220, 220, 0.8);
        line-height: 1.6;
    }
    .mobile-menu-info .info li:first-child {
        padding: 10px;
        font-size: 1.1rem;
    }
    .mobile-menu-info .info li:first-child a {
        background-color: #67dc81;
        display: inline-block;
        color: #fff;
        line-height: normal;
        padding: 8px;
        margin-left: 50px;
    }
    .mobile-menu-info a {
        display: block;
        padding: 15px 15px 15px 70px;
    }
    .mobile-menu-info .quantity, .mobile-menu-info .last-date {
        font-style: italic;
        font-weight: 200;
    }
}

/* -----Mobile----- */
@media (max-width: 767px) {
    .header-menu span {
        display: none;
    }
    .header-menu .logo-block {
        width: 90px;
        background: url('../img/waste_logo_mobile.svg') no-repeat;
        background-position: center center;
    }
    .searchbar .searchbar-btn {
        margin-left: 0;
        padding: 13px 20px;
    }
    .main-block {
        display: block;
        padding: 160px 0 0 0;
    }
    .fixed-subnav {
        position: absolute;
        padding: 0;
        top: 80px;
    }
    .fixed-subnav .subnav ul {
        display: flex;
        padding-left: 0;
        padding-bottom: 25px;
        flex-wrap: nowrap;
        overflow-x: scroll;
    }
    .subnav ul li {
        margin: 0 10px;
    }
    .subnav a {
        border: 1px solid rgba(220, 220, 220, 0.8);
    }
    .sidebar-nav {
        position: static;
        box-shadow: none;
        width: 100%;
    }
    .sidebar-nav a {
        width: 100%;
        padding: 15px 40px 15px 20px;
    }
    .sidebar-nav .arrow::before {
        right: 30px;

    }
    .sidebar-nav li {
        width: 100%;
    }
    .sidebar-nav .catalog-ul li:last-child {
        border-bottom: 1px solid rgba(220, 220, 220, 0.8);
    }
    .info-section {
        margin-top: 50px;
        float: none;
    }
    .ads, .business-cards {
        margin-left: 0;
    }
    .banner-block {
        justify-content: center;
        display: none;
    }
    .banner-block .banner {
        width: 300px;
    }
    .footer .flex-footer {
        flex-wrap: wrap;
        justify-content: space-between;
        padding-bottom: 0;
    }
    .flex-footer > * {
        margin-bottom: 30px;
    }
    .footer-info {
        /* margin-top: 30px; */
    }
    .footer-info .footer-nav ul li {
        display: inline-block;
        margin-right: 20px;
    }
    .footer-info .social-links ul {
        justify-content: center;
    }
    /* Menu popup */
    .mobile-menu-catalog, .mobile-menu-subcatalog {
        display: none;
        position: fixed;
        top: 0;
        height: 100%;
        width: 100%;
        background-color: #fff;
        z-index: 150;
    }
    .mobile-menu-subcatalog .subtitle {
        padding: 10px;
    }
    .mobile-menu-subcatalog .subtitle a {
        display: inline-block;
        background-color: #55c56e;
        color: #fff;
        padding: 8px; 
        font-size: 1.1rem;
        margin-left: 30px;
    }
    .mobile-menu-catalog .title a, .mobile-menu-subcatalog .title a {
        background-color: var(--main-color);
        color: #fff;
        padding: 8px;
        display: inline-block;
        font-size: 1.1rem;
        margin-left: 15px;
    }
    .mobile-menu-catalog .title, .mobile-menu-subcatalog .title {
        padding: 10px;
    }
    .mobile-menu-catalog .title .close-btn, .mobile-menu-subcatalog .title .close-btn {
        font-size: 2rem;
        position: absolute;
        right: 20px;
        top: 8px;
        font-weight: 200;
        color: var(--main-color);
    }
    .mobile-menu-container {
        height: 100%;
        width: 100%;
    }
    .mobile-menu-catalog a, .mobile-menu-subcatalog a {
        display: block;
        text-decoration: none;
        color: #000;
    }
    .mobile-menu-catalog li, .mobile-menu-subcatalog li {
        list-style: none;
    }
    .mobile-menu-catalog ul li, .mobile-menu-subcatalog ul li {
        border-bottom: 1px solid rgba(220, 220, 220, 0.8);
        background-color: #fff;
    }
    .mobile-menu-catalog ul li a {
        padding: 15px 40px 15px 40px;
        position: relative;
    }
    .mobile-menu-subcatalog ul li a {
        position: relative;
        padding: 15px 40px 15px 60px;
    }
    .mobile-menu-catalog .arrow::before, .mobile-menu-subcatalog .arrow::before {
        right: 30px;
    }
    .mobile-menu-catalog .title .arrow-back, .mobile-menu-subcatalog .title .arrow-back, .mobile-menu-catalog .subtitle .arrow-back, .mobile-menu-subcatalog .subtitle .arrow-back {
        position: relative;
        left: 5px;
    }
    .mobile-menu-catalog .title .arrow-back:before, .mobile-menu-subcatalog .title .arrow-back:before, .mobile-menu-catalog .subtitle .arrow-back:before, .mobile-menu-subcatalog .subtitle .arrow-back:before {
        position: absolute;
        top: 10%;
        content: "";
        display: inline-block;
        width: 0.4rem;
        height: 0.4rem;
        border-right: 2px solid #000;
        border-top: 2px solid #000;
        transform: rotate(-135deg) translateY(-50%); 
    }
    .mobile-menu-catalog .subtitle .arrow-back, .mobile-menu-subcatalog .subtitle .arrow-back {
        left: 20px;
    }
    .mobile-menu-info {
        position: fixed;
        z-index: 200;
        top: 120px;
        background-color: #fff;
        width: 100%;
        height: 100%;
    }
    .mobile-menu-info h5 {
        display: inline-block;
    }
    .mobile-menu-info a {
        text-decoration: none;
        color: #000;
    }
    .mobile-menu-info .quantity {
        display: block;
    }
    .mobile-menu-info li {
        border-bottom: 1px solid rgba(220, 220, 220, 0.8);
        line-height: 1.6;
    }
    .mobile-menu-info .info li:first-child {
        padding: 10px;
        font-size: 1.1rem;
    }
    .mobile-menu-info .info li:first-child a {
        background-color: #67dc81;
        display: inline-block;
        color: #fff;
        line-height: normal;
        padding: 8px;
        margin-left: 50px;
    }
    .mobile-menu-info a {
        display: block;
        padding: 15px 15px 15px 70px;
    }
    .mobile-menu-info .quantity, .mobile-menu-info .last-date {
        font-style: italic;
        font-weight: 200;
    }
}
@media (max-width: 520px) {
    .footer .flex-footer {
        flex-direction: column;
        align-items: center;
    }
}

.change-position {
    bottom: 395px;
}
/* Menu active mode */
a.active {
    background-color: var(--main-color);
    color: white;
}
a.active + ul {
    display: block;
}

.catalog-ul .active .arrow:before {
    border-color: white;
}

.mobile-menu-catalog, .mobile-menu-subcatalog, .mobile-menu-info {
    display: none;
}
body > div.active {
    display: block;
}

/* Scrollbar styling */
.subcatalog-ul::-webkit-scrollbar-track {
    background-color: rgb(235, 235, 235);
}
.subcatalog-ul::-webkit-scrollbar-thumb {
    background-color: white;
    border: 1px solid rgba(220, 220, 220, 0.8);
}
@media screen and (max-width: 450px){
    .mobile-banner1 {
        display: block;
    }
    .mobile-banner2 {
        display: block;
    }
}
